@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Courier Prime', monospace;
}

h1,
h2,
h3 {
  font-family: 'Courier Prime', monospace; 
}

@keyframes fade-in-slow {
  from { opacity: 0 }
  to { opacity: 1 }
}

.animate-fade-in-slow {
  animation: fade-in-slow 1.2s ease-out both;
}
